= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    %br/
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :body
    %br/
    = f.text_area :body, class: "form-control", rows: 5
  .form-group
    = f.label :post_type
    %br/
    = f.select :post_type, options_for_select(post_types_select, "link"), class: "form-control"

  .form-group
    = f.label :tags
    %br/
    = f.text_field :tags, value: pretty_tags, class: "form-control"
  .btn.btn-primary
    = f.submit, class: "btn btn-primary"